<!-- Set this file up so handlebars can use it. -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>burger restaurant</title>
		<meta charset="UTF-8">
		<!-- Link Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
        <!-- Link my styles -->
		<link rel="stylesheet" href="/assets/burger.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}

	{{!-- Link jQuery --}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/script.js"></script>
	</body>
</html>
